<?xml version="1.0" encoding="UTF-8"?>
<plugin
	id="KafkaConsumer"
	iconfile="logo.png"
	description="Apache Kafka Consumer"
	tooltip="This plug-in allows reading messages from a specific topic in a Kafka stream"
	category="Input"
	classname="com.ruckuswireless.pentaho.kafka.consumer.KafkaConsumerMeta">
	
	<libraries>
		<library name="pentaho-kafka-consumer.jar"/>
		<library name="lib/activation-1.1.jar"/>
		<library name="lib/jline-0.9.94.jar"/>
		<library name="lib/jopt-simple-3.2.jar"/>
		<library name="lib/junit-3.8.1.jar"/>
		<library name="lib/kafka_2.10-0.8.1.jar"/>
		<library name="lib/log4j-1.2.15.jar"/>
		<library name="lib/mail-1.4.jar"/>
		<library name="lib/metrics-annotation-2.2.0.jar"/>
		<library name="lib/metrics-core-2.2.0.jar"/>
		<library name="lib/scala-compiler-2.10.1.jar"/>
		<library name="lib/scala-library-2.10.1.jar"/>
		<library name="lib/scala-reflect-2.10.1.jar"/>
		<library name="lib/slf4j-api-1.6.4.jar"/>
		<library name="lib/slf4j-simple-1.6.4.jar"/>
		<library name="lib/snappy-java-1.0.4.1.jar"/>
		<library name="lib/zkclient-0.3.jar"/>
		<library name="lib/zookeeper-3.3.4.jar"/>
	</libraries>
    
	<localized_category>
		<category locale="en_US">Input</category>
	</localized_category>
	<localized_description>
		<description locale="en_US">Apache Kafka Consumer</description>
	</localized_description>
	<localized_tooltip>
		<tooltip locale="en_US">This plug-in allows reading messages from a specific topic in a Kafka stream</tooltip>
	</localized_tooltip>
</plugin>